.box{
  background-image:url('https://th-thumbnailer.cdn-si-edu.com/4vLanHfKvrZ659Px1HIY8uY0aWU=/fit-in/1072x0/https://tf-cmsv2-photocontest-smithsonianmag-prod-approved.s3.amazonaws.com/0f67c1d2e8f1a60ad923a3fabcfe9dd0b40c70f6.jpg');
  background-position: center;
  background-size: cover;
  margin-left: 80px;
  margin-right: 100px;
}
.picture {
  background-image: url('https://images.pexels.com/photos/11623621/pexels-photo-11623621.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  width: auto;
  height: 80vh;
  opacity: 45;
 


}
.covid {
  background-image: url('https://images.pexels.com/photos/8465067/pexels-photo-8465067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-position: center;
  background-size: cover;
  width: 100rem;
  height: 40rem;
  opacity: 80;
  
}
.chair {
  background-image: url('https://images.unsplash.com/photo-1538108149393-fbbd81895907?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8aG9zcGl0YWx8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
   background-position: center;
    background-size: cover;
    width: 100rem;
    height: 40rem;
    opacity: 80;
}
.image {
  background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWhkcTQ5aGVtYW5samllOHdscjFpYnNpMjQxNzRmbzY4ZnJtbXl4aSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/AgcviywC4DBrrZFgWv/giphy.gif');
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 150%;
  border-radius: 20px;
 
}